Importing the required libraries.

In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

Reading the datasets. crime-dirty.csv is a manipulated version of original file as it had to be clean. Will update the notebook to read the original file in the future.

In [2]:
url = "data\crime-dirty.csv"
url_spring = "data\crime-spring.csv"
url_winter = "data\crime-winter.csv"
dataset = pd.read_csv(url)
dataset_spring = pd.read_csv(url_spring)
dataset_winter = pd.read_csv(url_winter)

Column "FBI Code" to string.

In [3]:
dataset["FBI Code"] = dataset["FBI Code"].astype(str)
dataset_spring["FBI Code"] = dataset_spring["FBI Code"].astype(str)
dataset_winter["FBI Code"] = dataset_winter["FBI Code"].astype(str)

In [4]:
dataset.head()
dataset.shape

(10, 22)

In [5]:
dataset_spring.head()
dataset_spring.shape

(10, 22)

In [6]:
dataset_winter.head()
dataset_winter.shape

(10, 22)

Merging all the datasets

In [7]:
dataset_merged = pd.concat([dataset,dataset_spring,dataset_winter])

In [8]:
dataset_merged.shape

(30, 22)

In [9]:
dataset_merged.describe()

,ID,IUCR,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,3.000000e+01,30.000000,30.000000,29.000000,30.000000,30.000000,2.000000e+01,2.000000e+01,30.000000,20.000000,20.000000
mean,1.034787e+07,1210.733333,1253.700000,12.551724,24.333333,41.733333,1.162684e+06,1.884247e+06,2015.666667,41.838015,-87.678575
std,1.599503e+05,1011.414269,640.851543,6.367250,14.355903,24.002778,1.452463e+04,3.571175e+04,0.479463,0.098176,0.052716
min,1.013970e+07,460.000000,413.000000,4.000000,1.000000,1.000000,1.129230e+06,1.826485e+06,2015.000000,41.679311,-87.800175
25%,1.014041e+07,667.500000,824.000000,8.000000,12.500000,24.000000,1.155420e+06,1.855105e+06,2015.000000,41.757966,-87.705269
50%,1.037945e+07,975.000000,1076.000000,11.000000,22.500000,48.500000,1.162550e+06,1.881888e+06,2016.000000,41.831472,-87.679083
75%,1.051240e+07,1153.750000,1696.750000,17.000000,36.250000,62.500000,1.169412e+06,1.909235e+06,2016.000000,41.906668,-87.653893
max,1.053506e+07,5002.000000,2522.000000,25.000000,49.000000,77.000000,1.192434e+06,1.946271e+06,2016.000000,42.008124,-87.570656

In [10]:
dataset_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 9
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    30 non-null     int64
 1   Case Number           30 non-null     object
 2   Date                  30 non-null     object
 3   Block                 30 non-null     object
 4   IUCR                  30 non-null     int64
 5   Primary Type          30 non-null     object
 6   Description           30 non-null     object
 7   Location Description  29 non-null     object
 8   Arrest                30 non-null     bool
 9   Domestic              30 non-null     bool
 10  Beat                  30 non-null     int64
 11  District              29 non-null     float64
 12  Ward                  30 non-null     int64
 13  Community Area        30 non-null     int64
 14  FBI Code              30 non-null     object
 15  X Coordinate          20 non-null     float64
 16  Y Coordinate          20 non-null     float64
 17  Year                  30 non-null     int64
 18  Updated On            30 non-null     object
 19  Latitude              20 non-null     float64
 20  Longitude             20 non-null     float64
 21  Location              20 non-null     object
dtypes: bool(2), float64(5), int64(6), object(9)
memory usage: 5.0+ KB

Getting the percentage of missing values in each column.

In [11]:
1 - dataset_merged.count() / len(dataset_merged)

ID                      0.000000
Case Number             0.000000
Date                    0.000000
Block                   0.000000
IUCR                    0.000000
Primary Type            0.000000
Description             0.000000
Location Description    0.033333
Arrest                  0.000000
Domestic                0.000000
Beat                    0.000000
District                0.033333
Ward                    0.000000
Community Area          0.000000
FBI Code                0.000000
X Coordinate            0.333333
Y Coordinate            0.333333
Year                    0.000000
Updated On              0.000000
Latitude                0.333333
Longitude               0.333333
Location                0.333333
dtype: float64

Filling with mean if the percentage of missing values is between 0.1 and 0.5. If greater then 0.5, the column will be dropped.

In [12]:
minimum_missing_value_ratio = 0.1
maximum_missing_value_ratio = 0.5
columns = ["X Coordinate", "Y Coordinate"]
for i in columns:
    if (1 - dataset_merged.loc[:,i].count() / len(dataset_merged))>minimum_missing_value_ratio: 
        dataset_merged.loc[:,i] = dataset_merged.loc[:,i].fillna("mean")
    elif (1 - dataset_merged.loc[:,i].count() / len(dataset_merged))>maximum_missing_value_ratio: 
        dataset_merged = dataset_merged.drop(i)

Checking percentages again

In [13]:
1 - dataset_merged.count() / len(dataset_merged)

ID                      0.000000
Case Number             0.000000
Date                    0.000000
Block                   0.000000
IUCR                    0.000000
Primary Type            0.000000
Description             0.000000
Location Description    0.033333
Arrest                  0.000000
Domestic                0.000000
Beat                    0.000000
District                0.033333
Ward                    0.000000
Community Area          0.000000
FBI Code                0.000000
X Coordinate            0.000000
Y Coordinate            0.000000
Year                    0.000000
Updated On              0.000000
Latitude                0.333333
Longitude               0.333333
Location                0.333333
dtype: float64

In [14]:
dataset_merged.to_csv("data\crime-merged.csv")